body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gallery-page {
  background-image: url("../images/gallery-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
  font-family: 'Kodchasan', sans-serif;
}

/* LOADER */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.load-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  text-align: center;
}

.loader img{
  display: block;
}

.loader-icon{
  width: 15%;
  margin: auto;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.content-vcall .timer {
  padding: 2%;
  width: 30%;
  margin: 4% auto;
  background-color: #236974;
  border-radius: 3px;
  font-family: 'Exo', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.loader-hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.firstScreenPrewed {
  position: absolute;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: none;
}

.firstScreenPrewed img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-button {
  position: absolute;
  margin: 1%;
}

.home-button:hover {
  cursor: pointer;
}

.home-button img {
  width: 70%;
}

/* MODAL */
.modal {
  display: none;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2%;
  text-align: center;
  border-radius: 3rem;
}

/* Modal Vcall */
.content-vcall {
  width: 32%;
  padding: 3%;
}

.content-vcall h4 {
  margin: auto;
  margin-bottom: 7%;
}

.content-vcall h5 {
  font-weight: normal;
}

.judul{
  width: 80%;
  font-weight: bold;
  height: 23%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
}

/* box */
.parent-prewed img, .parent-akad img, .parent-lamaran img{
  display: none;
}

.div-prewed{
  width: 60%;
  height: 65%;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  /* border: 1px solid red; */
  z-index: 6;
}

.parent-prewed{
  /* border: 1px solid orange; */
  position: absolute;
  width: 25%;
  height: 40%;
  top: 5.5%;
  left: 37%;
}

.prewed{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/prewed-idle.png');
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid blue; */
  z-index: 5;
  cursor: default;
}

.div-prewed:hover~.prewed {
  background: url('../images/prewed-select.png');
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* .wrapper-lamaran{
  width: 12%;
  height: 23%;
  position: absolute;
  top: 43%;
  left: 28%;
  cursor: pointer;
  border: 1px solid red;
} */

.div-lamaran{
  width: 60%;
  height: 65%;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  /* border: 1px solid red; */
  z-index: 6;
}

.parent-lamaran{
  /* border: 1px solid orange; */
  position: absolute;
  width: 24.5%;
  height: 40%;
  top: 31%;
  left: 21.5%;
}

.lamaran{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/lamaran-idle.png');
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid blue; */
  z-index: 5;
  cursor: default;
}

.div-lamaran:hover~.lamaran {
  background: url('../images/lamaran-select.png');
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* .wrapper-akad{
  width: 13%;
  height: 23%;
  position: absolute;
  top: 43%;
  right: 29%;
  cursor: pointer;
  border: 1px solid red;
} */

.div-akad{
  width: 60%;
  height: 65%;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  /* border: 1px solid red; */
  z-index: 6;
}

.parent-akad{
  /* border: 1px solid orange; */
  position: absolute;
  width: 24%;
  height: 40%;
  top: 31%;
  left: 53%;
}

.akad{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/akad-idle.png');
  background-size: 128% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid blue; */
  z-index: 5;
  cursor: default;
}

.div-akad:hover~.akad {
  background: url('../images/akad-select.png');
  background-size: 128% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* AKAD - lAMARAN */
.content-wrapper {
  background-color: rgba(221, 77, 244, 0.16);
  color: white;
  width: 97%;
  height: 70%;
  margin: auto;
  padding: 1%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.wrapper-akad, .wrapper-lamaran{
  z-index: 11;
  display: none;
}

.back-button {
  /* height: 100%; */
}

.back-button img {
  width: 12%;
  display: inline-block;
  cursor: pointer;
}

.back-button p {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  font-size: 1vw;
  margin: 0;
}

.left-wrapper {
  width: 40%;
  float: left;
}

.text-content {
  margin: 5% 0 auto 5%;
}

.text-content p {
  width: 80%;
  margin-bottom: 0;
  font-size: 1.3vw;
}

.text-content h4 {
  margin-bottom: 4%;
  font-size: 2vw;
}

.custom-p {
  margin-top: 5%;
}

.video-wrapper-2 {
  width: 60%;
  height: 100%;
  float: right;
}

.video-wrapper-2 iframe {
  width: 100%;
  height: 100%;
}

a, a:hover, a:focus{
  text-decoration: none;
  color: black;
}

.img-home{
  width: 74.5%;
}


/* LIVE MC */
.live-mc {
  position: absolute;
  right: 2%;
  width: 20%;
  height: 60%;
  bottom: -10%;
  background: url('../images/tvmc.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150% auto;
  z-index: 10;
  /* border: 1px solid red; */
}

.video-mc {
  position: absolute;
  right: 1.5%;
  width: 20%;
  height: 60%;
  bottom: 2%;
  /* border: 1px solid black; */
}

.video-wrapper {
  position: relative;
  top: 57.5%;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 40%;
  z-index: 9;
  /* border: 1px solid blue; */
}

.video-wrapper iframe {
  -webkit-mask-image: url('../images/mask2.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 95%;
  height: 80%;
  margin: auto;
  z-index: 9;
}
