.aisle-page {
  background-image: url("../images/aisle-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  overflow: hidden !important;
  height: 100vh !important;
  font-family: 'Kodchasan', sans-serif;
}

/* LOADER */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.load-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  text-align: center;
}

.loader img{
  display: block;
}

.loader-icon{
  width: 15%;
  margin: auto;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.content-vcall .timer {
  padding: 2%;
  width: 30%;
  margin: 4% auto;
  background-color: #236974;
  border-radius: 3px;
  font-family: 'Exo', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.loader-hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.home-button {
  position: absolute;
  margin: 1%;
}

.home-button:hover {
  cursor: pointer;
}

.home-button img {
  width: 70%;
}

.modal {
  display: none;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-sizing: border-box;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2%;
  text-align: center;
  border-radius: 3rem;
}

/* Modal Vcall */
.content-vcall {
  width: 32%;
  padding: 3%;
}

.content-vcall h4 {
  margin: auto;
  margin-bottom: 7%;
}

.content-vcall h5 {
  font-weight: normal;
}

.streaming-vcall {
  width: 50%;
  height: 60%;
  background-color: #E2E2E2;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-52%);
}

.streaming-vcall iframe {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.wrap-running-text {
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.static-text h5 {
  display: inline-block;
  padding: 1%;
  /* border: 1px solid blue; */
}

.static-text h6 {
  display: inline-block;
  width: 63%;
  /* border: 1px solid blue; */
  float: right;
}

.marquee {
  /* position: fixed; */
  position: relative;
  top: 10%;
  left: 0;
  width: 75%;
  padding-top: 1%;
  /* height: 100vh; */
  /* border: 1px solid red; */
  float: right;
  overflow: hidden;
}

.marquee .inner {
  position: relative;
  width: 100%;
  display: flex;
  color: black;
  /* border: 1px solid blue; */
}

.marquee .inner>* {
  white-space: nowrap;
  padding: 0 4rem;
}

/* LIVE MC */
.live-mc {
  position: absolute;
  right: 2%;
  width: 20%;
  height: 60%;
  bottom: -10%;
  background: url('../images/tvmc.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 150% auto;
  z-index: 10;
  /* border: 1px solid red; */
}

.video-mc {
  position: absolute;
  right: 1.5%;
  width: 20%;
  height: 60%;
  bottom: 2%;
  /* border: 1px solid black; */
}

.video-wrapper {
  position: relative;
  top: 57.5%;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 40%;
  z-index: 9;
  /* border: 1px solid blue; */
}

.video-wrapper iframe {
  -webkit-mask-image: url('../images/mask2.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 95%;
  height: 80%;
  margin: auto;
  z-index: 9;
}
