html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* LOADER */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

.load-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  text-align: center;
}

.loader img{
  display: block;
}

.loader-icon{
  width: 15%;
  margin: auto;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.home-button {
  position: absolute;
  margin: 2%;
  z-index: 10;
}

.home-button:hover {
  cursor: pointer;
}

.home-button img {
  width: 70%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 800vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 1.2vw;
  position: relative;
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.countdown{
  display: block;
  position: absolute;
  z-index: 15;
  width: 15%;
  height: 17%;
  background-image: url(images/countdown.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Exo', sans-serif;
  color: black;
  font-style: bold;
  font-weight: 100;
}

.countdown-page{
  left: 8%;
  top: 1%;
}

.vl {
  border-left: 1px solid black;
  height: 45%;
  display: inline-block;
  float: left;
  margin-right: 15%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.countdown2{
  width: 16%;
  height: 17%;
  left: 8%;
}

.home2{
  margin: 1.5%;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.one {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  z-index: 8;
}

.two {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  z-index: 8;
}

.three {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  z-index: 8;
}

.four {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  z-index: 8;
}

.five {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  z-index: 8;
}

.six {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  z-index: 8;
}

.seven {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
  z-index: 8;
}

.eight {
  /* background-image: url('images/background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: relative;
  z-index: 8;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.wrapperFoto1 {
  width: 101%;
  height: 75%;
  margin: auto;
  position: relative;
  top: 58%;
  left: 2%;
  z-index: 3;
  transform: translateY(-50%);
}

.back-button img {
  width: 10%;
  display: inline-block;
  cursor: pointer;
}

.back-button p {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  font-size: 1vw;
  font-style: normal;
  margin: 0;
}

.left-wrapper {
  width: 49%;
  height: 100%;
  float: left;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}

.right-wrapper{
  height: 100%;
}

.text-content-prewed{
  padding: 4%;
}

.text-content-prewed p{
  width: 80%;
}

.opening{
  font-style: normal;
}

.titleVendor{
  font-style: italic;
  font-weight: bold;
  font-size: 0.9vw;
  margin-bottom: 0;
}

.vendor1{
  margin-top: 8%;
}

.textVendor{
  font-style: italic;
  font-size: 0.9vw;
}

.foto1 {
  width: 51%;
  height: 100%;
  cursor: pointer;
}

.nextpage{
  position: absolute;
  z-index: 4;
  top: 35.5%;
  right: 5%;
  width: 3%;
}

.nextpage2{
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  width: 3%;
}

.backpage{
  position: absolute;
  z-index: 11;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width: 3%;
}

.wrapperFoto2{
  width: 40%;
  height: 60%;
  position: absolute;
  top: 25%;
  left: 12%;
  /* border: 1px solid red; */
}

.foto2{
  width: 100%;
  margin-bottom: 5%;
}

.wrapperFoto3{
  width: 28%;
  position: absolute;
  top: 25%;
  left: 62%;
  /* border: 1px solid red; */
}

.foto3{
  width: 100%;
}

.wrapperFoto4{
  width: 45%;
  position: absolute;
  bottom: -5%;
  left: 62%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto4{
  width: 60%;
  float: right;
}

.wrapperFoto5{
  width: 42.5%;
  position: absolute;
  top: 25%;
  left: 95.5%;
  /* border: 1px solid red; */
}

.foto5{
  width: 62%;
  float: left;
}

.wrapperFoto5 h6{
  text-align: right;
  vertical-align: middle;
  width: 20%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.wrapperFoto6{
  width: 26%;
  position: absolute;
  bottom: -5%;
  left: 12%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto6{
  width: 100%;
  float: right;
}

.wrapperFoto7{
  width: 50%;
  position: absolute;
  top: 25%;
  left: 43%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto7{
  width: 100%;
  float: right;
}

.wrapperFoto8{
  width: 20%;
  position: absolute;
  top: 34%;
  left: 7%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto8{
  width: 100%;
  float: left;
  margin-top: 15%;
}

.wrapperFoto9{
  width: 20%;
  position: absolute;
  top: 34%;
  left: 35%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto9{
  width: 100%;
}

.wrapperFoto10{
  width: 45%;
  position: absolute;
  top: 20%;
  left: 63%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto10{
  width: 100%;
  margin-bottom: 10%;
}

.wrapperFoto11{
  width: 23.5%;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto11{
  width: 100%;
  margin-bottom: 20%;
}

.wrapperFoto12{
  width: 48%;
  position: absolute;
  top: 20%;
  left: 55%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto12{
  width: 100%;
  margin-top: 5%;
}

.wrapperFoto13{
  width: 25%;
  position: absolute;
  top: 20%;
  left: 13%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto13{
  width: 100%;
}

.wrapperFoto14{
  width: 46%;
  position: absolute;
  top: 20%;
  left: 48%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto14{
  width: 100%;
  margin-bottom: 5%;
}

.wrapperFoto15{
  width: 35%;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto15{
  width: 75%;
  margin-bottom: 5%;
}

.wrapperFoto16{
  width: 28%;
  position: absolute;
  top: 68%;
  left: 17%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto16{
  width: 100%;
  margin-bottom: 5%;
}


.wrapperFoto17{
  width: 23%;
  position: absolute;
  top: 20%;
  left: 51%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto17{
  width: 100%;
  margin-bottom: 5%;
}

.wrapperFoto18{
  width: 43%;
  position: absolute;
  top: 32%;
  left: 81%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto18{
  width: 100%;
}

.wrapperFoto19{
  width: 40%;
  position: absolute;
  top: 28%;
  left: 40%;
  z-index: 3;
  /* border: 1px solid red; */
}

.foto19{
  width: 60%;
  float: left;
}

.wrapperFoto19 h6{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
